body {
    background-color: #fffacd;
}

a {
    color: #fffacd;
    text-decoration: none;
    /*font-weight: bold;*/
}

a:hover{
    color: #e7ebee;
}

.flex-container {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    flex-direction: row;
}

.nav_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #cdb4d6;
    color: white;
    flex-direction: row;
}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 51);
    flex-direction: row;
}
/*.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}*/