body {
    background-color: #fffacd;
    padding-top: 60px;
    margin: 0;
}

a {
    color: #f9f3bc;
    text-decoration: none;
    /*font-weight: bold;*/
}

a:hover{
    color: #e7ebee;
}

.home img {
    max-width: 100%;
    height: auto;
    display: block;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 800px;
    margin: 0 auto;
}

.profile-container img {
    max-width: 300px;
    height: auto;
}

.flex-container {
    display: flex;
    /*border-style: solid;
    border-width: 5px;
    border-color: blue;*/
    flex-direction: row;
}

.nav_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #cdb4d6;
    color: white;
    flex-direction: row;
}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 51);
    flex-direction: row;
}
/*.flex-item {
    border-style: solid;
    border-width: 2px;
    border-color: red;
}*/