body {
    background-color: #fffacd;
    padding-top: 60px;
    margin: 0;
}

a {
    color: #f9f3bc;
    text-decoration: none;
    /*font-weight: bold;*/
}

a:hover{
    color: #e7ebee;
}

.home img {
    max-width: 100%;
    height: auto;
    display: block;
}

.autobiography {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    background-color: #fff;
    transition: transform 0.2s;
  --box-border--border: linear-gradient(105deg, #f29bb3 0%, #a99abd 100%);
  /* classic 9-slide-scaling with 2px border 4px rounded corners. change `rx` and `ry` parameters to adjust border-radius */
  --box--border__top-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='1' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='2' /></svg>");
  --box--border__top: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='1' x2='101' y2='1' stroke='%23000' stroke-width='2'/></svg>");
  --box--border__top-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='1' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='2' /></svg>");
  --box--border__left: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='1' y1='-1' x2='1' y2='101' stroke='%23000' stroke-width='2'/></svg>");
  --box--border__right: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='10' height='100' viewBox='0 0 10 100' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='9' y1='-1' x2='9' y2='101' stroke='%23000' stroke-width='2'/></svg>");
  --box--border__bottom-left: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='1' y='-9' width='18' height='18' rx='4' ry='4' stroke='%23000' stroke-width='2' /></svg>");
  --box--border__bottom: url("data:image/svg+xml,<svg preserveAspectRatio='none' width='100' height='10' viewBox='0 0 100 10' fill='none' xmlns='http://www.w3.org/2000/svg'><line x1='-1' y1='9' x2='101' y2='9' stroke='%23000' stroke-width='2'/></svg>");
  --box--border__bottom-right: url("data:image/svg+xml,<svg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'><rect x='-9' y='-9' width='18' height='18' rx='4' ry='4' stroke='black' stroke-width='2' /></svg>");
  
  padding: 1rem;
  position: relative;
  resize: both;
  overflow: hidden;
  font-weight: 700;
  width: 100%;
  max-width: 600px;
}

.autobiography::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--box-border--border);
  mask:
    var(--box--border__top-left) 0 0 / .625rem .625rem,
    var(--box--border__top) .625rem 0 / calc(100% - 1.25rem) .625rem,
    var(--box--border__top-right) 100% 0 / .625rem .625rem,
    var(--box--border__left) 0 .625rem / .625rem calc(100% - 1.25rem),
    var(--box--border__right) 100% .625rem / .625rem calc(100% - 1.25rem),
    var(--box--border__bottom-left) 0 100% / .625rem .625rem,
    var(--box--border__bottom) .625rem 100% / calc(100% - 1.25rem) .625rem,
    var(--box--border__bottom-right) 100% 100% / .625rem .625rem;
  mask-repeat: no-repeat;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 900px;
    margin: 0 auto;
}

.profile-container img {
    max-width: 300px;
    height: auto;
    transition: transform 0.2s;
}

.profile-text:hover, .skill-text:hover, .profile-container img:hover, .autobiography:hover {
    transform: translateY(-5px);
}

.profile-text, .skill-text {
    margin: 2rem auto;
    max-width: 40ch;
    border: 8px solid #927da1;
    color: #927da1;
    padding: 2ch;
    position: relative;
    background-color: #fff;
    transition: transform 0.2s;
    border-image: 
    url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 0H8v4H4v4H0v8h4v4h4v4h8v-4h4v-4h4V8h-4V4h-4V0zm0 4v4h4v8h-4v4H8v-4H4V8h4V4h8z' fill='%23927da1'/%3E%3C/svg%3E")
    8 stretch;
}

.profile-text:before, .skill-text:before {
    content: "";
    position: absolute;
    right: -28px;
    top: calc(50% - 14px);
    width: 24px;
    height: 28px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 0H0v8h12v4h4v4h-4v4H0v8h4v-4h8v-4h4v-4h8v-4h-8V8h-4V4H4V0z' fill='%23927da1'/%3E%3Cpath fill='%23fffacd' d='M0 8h4v12H0z'/%3E%3C/svg%3E");
}

p {
    margin: 0;
}

p + p {
    margin-top: 1ch;
}

.nav_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #cdb4d6;
    color: white;
    flex-direction: row;
    z-index: 1000;
    padding: 0 1rem;
}

.nav_bar img {
    height: 40px;
    margin-right: 1rem;
}

@use postcss-color-function;
@use postcss-nested;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

.search__container {
    flex: 0 0 200px;
}

.search__input {
    width: 100%;
    padding: 6px 12px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 10px;
    line-height: 18px;
    color: #f9f3bc;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #f9f3bc;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: #f9f3bc;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover, .search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #f9f3bc;
    border-radius: 0;
    background-position: 100% center;
}


.flex-container {
    display: flex;
    justify-content: flex-end;
    /*border-style: solid;
    border-width: 5px;
    border-color: blue;*/
    flex-direction: row;
}

.flex-container2 {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(0, 255, 51);
    flex-direction: row;
}

.links {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

/*
https://codepen.io/enbee81/pen/wvdMJGp
https://codepen.io/fabianmichael/pen/yLPyRry
https://codepen.io/mihaeltomic/pen/vmwMdm*/